body {
  background-color: #222830;
  font-size: 1.2rem;
  font-family: monospace;
  font-weight: 300;
  font-optical-sizing: auto;
  color: #aeb7c6;
  color: rgb(209, 215, 224);
  line-height: 1.7;
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

strong, b {
  font-weight: 500;
}

a {
  color: #87BEF9;
}

a:visited {
  color: #A587F9;;
}

input, textarea {
  background-color: #393e46;
  border: 1px solid #222830;
  color: #aeb7c6;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
}

.error {
  color: #ff5555;
}

.hint {
  color: rgb(210, 202, 159);
  opacity: 0.7;
}

blockquote {
  background: #fff2;
  padding: 0.25rem 1rem;
  margin: 0;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-out {
  animation: fade-out 2s;
  opacity: 0;
}

.fade-in {
  animation: fade-in 2s;
}
